/* Global defaults */

body {
    background-color: green;

    font-family: Arial, Helvetica, sans-serif;
}


img {
    max-width: 100%;
}


/* layouts*/
.layout-wide {
    max-width: 1000px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Headings and typography */

h1 {
    font-size: 48px;
}



h2 {
    
}

/* Header */

/* Navigation */

/* footer */

/* modules */
.content-box {
    background-color: white;
    padding: 20px;
}

@media screen and (min-width: 600px) {

    .news-component {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
