/* Global defaults */

body {
    background-color: green;
}

.layout-wide {
    background-color: red;

    max-width: 1200px;
}

/* Headings and typography */

/* Header */

/* Navigation */

/* footer */

/* modules */