@import url("normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik&display=swap');


/* Global defaults */

html {
    font-size: 20px;
}

body {
    background-color: #f1f1f1;

    font-family: 'Rubik', sans-serif;
}


img {
    max-width: 100%;
}


/* layouts*/
.layout-wide {
    max-width: 1000px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Headings and typography */

h1,
h2,
h3,
h4,
h5 {

    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 4rem;
}

h2 {
   font-size: 3rem;
}

h3 {
   font-size: 2rem;
}




/* Header */

/* Navigation */

/* footer */

/* modules */
.content-box {
    background-color: white;
    padding: 20px;
}

.content-box-image {
    padding: 0;
}



@media screen and (min-width: 600px) {

    .news-component {
        display: grid;
        grid-template-columns: 30% 70%;
    }
}
